.App {
  text-align: center;
  position: fixed;
  height: 100vh;
}

.videos {
  height: inherit;
}

.user-video {
  height: inherit;
  background-color: black;
}

.partner-video {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* .partner-box {
  position: absolute;
  bottom: 10px;
  height: 20vh;
  width: 100px;
  background-color: white;
} */

.partner-webcam {
  height: 20vh;
}

.users-call-view {
  display: grid;
}

.users {
  height: inherit;
  justify-self: start;
}

.user-webcam {
  height: 100%;
  width: 100vw;
}

#online-users-btn {
  position: fixed;
  top: 17px;
  right: 17px;
  color: white;
  z-index: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
